
* {
    all: unset;
}


.workspace {
    background-color: #182f19;
    color: white;
    border-radius: 15px;
}

.layout {
    background-color: #182f19;
}

.calender {
    background-color: #182f19
}